@import '@/styles/scss/import.scss';

.ui-molecules-card-listing {
    @include padding(all, 15px);
    @include rounded(5px);
    @include border-bottom(1px, solid, rgba(get-color(border-light), 0.75));
    @include transition(0.31s cubic-bezier(0.7, 0.3, 0, 1));

    max-width: 400px;
    width: 100%;

    p {
        @include no-margin();
    }

    > h1 {
        @include no-margin();
    }

    > p {
        @include margin-bottom(20px);
    }

    &__detail {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
            @include margin-right(20px);
            @include font-color(grey-dark);

            img {
                width: 20px;

                @include margin-right(5px);
            }

            &:last-child {
                @include margin-right(0);
            }
        }
    }
}
