@import '@/styles/scss/import.scss';

.ui-molecules-list {
    display: none;
    opacity: 0;

    @include padding-top(60px);
    @include transition(0.31s cubic-bezier(0.7, 0.3, 0, 1));

    > button {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 200;
    }

    &.fade {
        &-apear {
            &.fade-appear-active {
                display: block !important;
            }
        }

        &-enter {
            display: block !important;

            &.fade-enter-active,
            &-done {
                display: block !important;
            }
        }

        &-exit {
            display: block !important;

            &.fade-exit-active,
            &-done {
                display: block !important;
            }
        }
    }
}
