.fade {
    &-apear {
        opacity: 0 !important;
        z-index: 1 !important;
        display: none !important;

        &.fade-appear-active {
            opacity: 1 !important;
            display: flex !important;
        }
    }

    &-enter {
        opacity: 0 !important;
        z-index: 1 !important;
        display: flex !important;

        &.fade-enter-active {
            opacity: 1 !important;
            display: flex !important;
        }

        &-done {
            opacity: 1 !important;
            display: flex !important;
        }
    }

    &-exit {
        opacity: 0 !important;
        display: flex !important;

        &.fade-exit-active {
            opacity: 0 !important;
            display: flex !important;
        }

        &-done {
            opacity: 0 !important;
            display: none !important;
        }
    }
}

.fade-scale-center {
    &-apear {
        z-index: 1 !important;
        display: none !important;
        transform: translate(-50%, -50%) scale(0.75) !important;
        -webkit-transform: translate(-50%, -50%) scale(0.75) !important;
        -moz-transform: translate(-50%, -50%) scale(0.75) !important;
        -o-transform: translate(-50%, -50%) scale(0.75) !important;

        &.fade-scale-center-active {
            display: flex !important;
            transform: translate(-50%, -50%) scale(1) !important;
            -webkit-transform: translate(-50%, -50%) scale(1) !important;
            -moz-transform: translate(-50%, -50%) scale(1) !important;
            -o-transform: translate(-50%, -50%) scale(1) !important;
        }
    }

    &-enter {
        z-index: 1 !important;
        display: flex !important;
        transform: translate(-50%, -50%) scale(0.75) !important;
        -webkit-transform: translate(-50%, -50%) scale(0.75) !important;
        -moz-transform: translate(-50%, -50%) scale(0.75) !important;
        -o-transform: translate(-50%, -50%) scale(0.75) !important;

        &.fade-scale-center-enter-active {
            display: flex !important;
            transform: translate(-50%, -50%) scale(1) !important;
            -webkit-transform: translate(-50%, -50%) scale(1) !important;
            -moz-transform: translate(-50%, -50%) scale(1) !important;
            -o-transform: translate(-50%, -50%) scale(1) !important;
        }

        &-done {
            display: flex !important;
            transform: translate(-50%, -50%) scale(1) !important;
            -webkit-transform: translate(-50%, -50%) scale(1) !important;
            -moz-transform: translate(-50%, -50%) scale(1) !important;
            -o-transform: translate(-50%, -50%) scale(1) !important;
        }
    }

    &-exit {
        display: flex !important;
        transform: translate(-50%, -50%) scale(0.75) !important;
        -webkit-transform: translate(-50%, -50%) scale(0.75) !important;
        -moz-transform: translate(-50%, -50%) scale(0.75) !important;
        -o-transform: translate(-50%, -50%) scale(0.75) !important;

        &.fade-scale-center-exit-active {
            display: flex !important;
            transform: translate(-50%, -50%) scale(0.75) !important;
            -webkit-transform: translate(-50%, -50%) scale(0.75) !important;
            -moz-transform: translate(-50%, -50%) scale(0.75) !important;
            -o-transform: translate(-50%, -50%) scale(0.75) !important;
        }

        &-done {
            display: none !important;
            transform: translate(-50%, -50%) scale(0.75) !important;
            -webkit-transform: translate(-50%, -50%) scale(0.75) !important;
            -moz-transform: translate(-50%, -50%) scale(0.75) !important;
            -o-transform: translate(-50%, -50%) scale(0.75) !important;
        }
    }
}
