@import '@/styles/scss/import.scss';

.ui-atomic-dialog {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200 !important;

    @include transition(0.31s cubic-bezier(0.7, 0.3, 0, 1));

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        @include background-color(rgba(get-color(black), 0.45));
    }
}
